

v-edit-dialog(:$vBind v-on="$vOn" @open="open( scope )" @save="save( scope )")

    block content

    template( v-for="( slot , slotName ) in slots" :slot="slot.name || slotName" )
        component( v-if="slot.component" :is="slot.component" :scope="scope" )